name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Download dependencies
        run: go mod download

      - name: Run Go Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          only-new-issues: 'true'

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: make test